body {
	padding: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	.App {
		font-size: 1.6rem;
		h1 {
			font-size: 2.5rem;
			color: #777;
			font-weight: bold;
			margin: 0 0 20px 0;
		}
		h2 {
			font-size: 2rem;
			color: #888;
			font-weight: bold;
			margin: 10px 0;
			background-color: #eee;
			padding: 5px;
		}
		h1:not(:first-of-type) {
			margin-top: 20px;
		}
		ul {
			list-style-type: disc;
			margin: 0 0 0 30px;
		}
		.infoBox {
			background: #eee;
			margin: 0 10px 10px 0;
			padding: 10px;
			border-radius: 5px;
			.title {
				font-weight: bold;
				margin: 0 0 10px 0;
			}
			strong {
				color: brown;
			}
			h2 {
				font-size: 1.3rem;
				margin: 10px 0 5px 0;
				padding: 5px;
				color: #333;
				background: #ddd;
				max-width: 200px;
			}
			.status {
				margin: 5px 0 0 0;
				span {
					color: purple;
					background: yellow;
				}
			}
		}
	}
}